<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jun.microservices.authentication.mapper.user.UserAuthorityMapper">

    <resultMap id="UserAuthorityMap" type="UserAuthority">
        <result property="userId" column="user_id"/>
        <result property="authority" column="authority"/>
        <association property="user" column="user_id"
                     select="jun.microservices.authentication.mapper.user.UserPrincipalMapper.loadUserByUserId"
                     fetchType="lazy">
        </association>
    </resultMap>

    <select id="loadAuthorityByUserId" resultMap="UserAuthorityMap"
            parameterType="int" resultType="ArrayList">
        SELECT *
        FROM user_authority
        WHERE user_id = #{userId}
    </select>

    <insert id="saveAuthority" parameterType="ArrayList">
        INSERT INTO user_authority (user_id, authority) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.userId}, #{item.authority})
        </foreach>
    </insert>
</mapper>
