<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="stdoutPatternLayout">
            %highlight{%d{HH:mm:ss.SSS} [%t] %-5level %c{36}: %msg%n}
        </Property>
        <Property name="filePatternLayout">
            %d{HH:mm:ss.SSS} [%t] %-5level %c{36}: %msg%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${stdoutPatternLayout}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="warn">
            <AppenderRef ref="STDOUT"/>
        </Root>
        <Logger name="jun.microservices" level="debug" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Logger name="com.netflix" level="debug"/>
        <Logger name="org.apache" level="info"/>
        <Logger name="org.springframework" level="info"/>
    </Loggers>
</Configuration>